body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #d2d3d4;
    color: #ffffff;
}

.box{
    height: 120vh;
}
.boxs{
    height: 80vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
#about {
    padding: 20px 0;
}

.section-title {
    font-size: 2.5rem;
    color: #17a2b8;
    margin-bottom: 20px;
}

.section-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.resume-download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.resume-download-btn:hover {
    background-color: #0056b3;
}



.profile-image-container {
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills-container {
    margin-top: 40px;
}

.skills-title {
    font-size: 1.8rem;
    color: #17a2b8;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}
.skills-list li :hover{
    transform: scale(1.05);
    background-color: #0056b3;
    cursor: pointer;
}
.skills-list li {
    background-color: #17a2b8;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 8px;
    display: inline-block;
    margin-right: 10px;
}

.skills-list li:last-child {
    margin-right: 0;
}

#projects {
    padding: 0px 0;
}

.section-title {
    font-size: 2.5rem;
    color: #17a2b8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1.2rem;
    color: #555;
}

#resume {
    padding: 10px 0;
}

#resume h2 {
    font-size: 2.5rem;
    color: #17a2b8;
    margin-bottom: 20px;
}

#resume p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

.resume-download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.resume-download-btn:hover {
    background-color: #218838;
}

#contact {
    padding: 10px 0;
}

#contact .section-title {
    font-size: 2.5rem;
    color: #17a2b8;
    margin-bottom: 20px;
}

#contact .section-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.contact-list li {
    margin-bottom: 15px;
}

.contact-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #17a2b8;
}

.contact-list a {
    color: #333;
    text-decoration: none;
}

.contact-list a:hover {
    color: #17a2b8;
}

.skills-title {
    font-size: 1.8rem;
    color: #17a2b8;
    margin-top: 30px;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.skills-list li {
    background-color: #17a2b8;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 8px;
    display: inline-block;
    margin-right: 10px;
}

.skills-list li:last-child {
    margin-right: 0;
}

.btn-primary {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #136b7d;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #17a2b8;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}


.breadcrumb {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;

}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #343a40;
    font-weight: bold;
}

.breadcrumb-item span::before {
    display: none;
}
