body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bcbbba;
  }

  .container {
    display: flex;
    gap: 200px;
  }

  /* Contact Form styling */
  .contact-form {
    width: 500px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 20px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .contact-form h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: linear-gradient(90deg, rgba(228,196,1,1) 28%, rgba(214,122,21,1) 51%, rgba(0,212,255,1) 96%);
    border-radius: 4px;
    text-align: center;
  }
   
   select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 98%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #358ec1;
    box-shadow: 2px 0 8px  rgb(152, 152, 152);
    border-radius: 4px;
  }

  .contact-form button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #319a49;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
  }

  .contact-form button:hover {
    background-color: #0a4417;
    transition: .8s ease;
  }

  /* Contact Details styling */
  .contact-details {
    width: 500px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 20px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  .contact-details h2 {
    margin: 0 0 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    border-radius: 4px;
    background:  linear-gradient(90deg, rgba(228,188,1,1) 35%, rgba(21,73,214,1) 63%, rgba(0,212,255,1) 91%);
  }