body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
}

#clock {
  font-family: 'Times New Roman', Times, serif;
  width: 900px;
  margin: 200px;
  color: #000;
  background-color: #1b1a1a;
  padding: 20px 40px;
  border-radius: 15px;
  border: 4px 0 4px #000;
  box-shadow: 2px 0 4px gray;
  text-shadow: 2px 0 4px silver;
  text-align: center;
  font-size: 175px;
}
