/* Reset styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 0;
  left: -200px; /* Hidden by default */
  width: 200px;
  height: 100%;
  background :  linear-gradient(#F17153, #F58D63, #f1ab53);
  color: rgb(0, 0, 0);
  transition: left 0.3s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #444;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-family: 'Times New Roman', Times, serif;
}

/* Hover effect */
.sidebar ul li:hover {
  background-color: rgb(75, 75, 75);
}

.content {
  background-image: url(https://www.hdwallpapers.in/download/sunset_scenery-wide.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

/* Sidebar open styles */
.sidebar.open {
  left: 0;
}

.content.sidebar-open {
  margin-left: 200px;
}

