.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: #bbbbbb;
}

header {
  background-color: #1e49a0;
  padding: 20px;
  color: white;
}

.destinations {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap; 
}

.destination-card {
  color: #282c34;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); 
}

.destination-card img {
  width: 80%;
  border-radius: 8px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.destination-card:hover img {
  transform: scale(1.1); 
  filter: brightness(1.1); 
}

footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}