<!-- Index.html -->
<!DOCTYPE html>
<html lang="en" class="scroll-smooth scroll-pt-20">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>
        Project | PortFolio WebPage using React
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-emerald-100">
    <noscript>You need to enable JavaScript
        to run this app.</noscript>
    <div id="root"></div>
    <!-- -portfolio- -->
    <section class="portfolio" id="portfolio">
        <div class="main-text">
            <h2>My Projects</h2>
            <h4>Some Of My Distinguished Works</h4>
        </div>

        <div class="portfolio-content">
            <div class="row">
                <a href="https://www.geeksforgeeks.org/library-management-system/" target="_blank">
                    <img src="img/lib1.jpg">
                </a>
                    <div class="main-row">
                    <div class="row-text">
                        <h6>Web App development</h6>
                    </div>
                </div>
                <h3>Library Management System</h3>
            </div>

            <div class="row">
                <a href="https://www.geeksforgeeks.org/forecast-weather-project-check-today-weather-for-any-location/" target="_blank">
                    <img src="img/weather.jpg">
                </a>
                <div class="main-row">
                    <div class="row-text">
                        <h6>Web App Development</h6>
                    </div>
                </div>
                <h3>Weather Forecasting App</h3>
            </div>
            
            <div class="row">
                <a href="https://www.geeksforgeeks.org/dog-breed-classification-using-transfer-learning/" target="_blank">
                    <img src="img/breed.jpg">
                </a>
                <div class="main-row">
                    <div class="row-text">
                        <h6>Machine Learning</h6>
                    </div>
                </div>
                <h3>Dog's Breed Classification</h3>
            </div>

            <div class="row">
                <a href="https://www.geeksforgeeks.org/ml-boston-housing-kaggle-challenge-with-linear-regression/" target="_blank">
                    <img src="img/price.jpg">
                </a>
                <div class="main-row">
                    <div class="row-text">
                        <h6>Machine Learning</h6>
                    </div>
                </div>
                <h3>Boston House Price Prediction</h3>
            </div>

        </div>
    </section>

</body>

</html>
