<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The element selector</title>
  <style>
    p {
      background-color: bisque;
      color: brown;
      text-align: center;
      border: 2px solid black;
    }
    h1{
      color: rgb(61, 10, 172);
    }
    body{
      background-color: beige;
    }
  </style>
</head>

<body>
  <h1>The element selector</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus doloremque inventore maiores sed ipsam
    veniam et recusandae temporibus cum libero aliquid optio, enim fugiat minus harum sint iure consequatur excepturi
    eos obcaecati minima delectus placeat! Veritatis cum quisquam consequatur aliquid illum suscipit harum pariatur
    temporibus, reiciendis unde in? Modi, facilis!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis mollitia id fuga quis fugit similique, itaque
    sit a culpa expedita inventore? Obcaecati earum aspernatur eaque amet, recusandae eos odit error distinctio enim,
    vero tenetur, magni architecto at necessitatibus fugiat ab quas dicta iste commodi consequatur. Optio voluptas
    blanditiis voluptatibus hic dolores! Suscipit quod ducimus dicta neque vero aliquam mollitia! Assumenda
    exercitationem incidunt vero a reiciendis voluptates veritatis voluptatibus non, minima, aut id quaerat quidem
    reprehenderit. Commodi, facilis. Recusandae, alias non! Dolore cupiditate suscipit quam! Perferendis cum doloremque
    placeat natus veritatis consectetur totam distinctio minima iure, officiis sunt impedit sint, dolorum quae ipsa
    voluptatibus iste ipsum dolorem velit modi qui? Aperiam a ad amet ut vero corrupti voluptas voluptatum tempora,
    tempore, officia nemo. Dolore ipsam temporibus magnam autem, illo doloremque, qui cumque esse illum deserunt ex
    officia laborum. Molestias earum ullam tempore! Quo cum praesentium porro, ipsum temporibus recusandae ab quibusdam
    quaerat vero repellat numquam at velit tempora sit ipsa animi! Aspernatur illum cumque corrupti necessitatibus rem,
    quos ipsa, quia explicabo deserunt aliquid perspiciatis. Vel totam consequuntur cumque quo suscipit illo, nulla
    beatae dicta odio rerum, fugit unde aspernatur, atque quam et dolorum? Iste nesciunt provident maiores distinctio
    dicta tempora. Id officiis expedita dicta quasi laboriosam minus ea assumenda ut recusandae amet, voluptatum eaque
    quia aliquam fugit, provident optio voluptates adipisci nisi placeat odio ullam fugiat accusantium a consequatur.
    Inventore eos quia labore minus voluptas, in, repellendus rerum pariatur esse nemo, omnis iusto at quisquam eaque
    tenetur ipsum doloremque. Facilis similique laborum nam minus ipsam? Cum doloremque deleniti exercitationem! Harum
    inventore similique, culpa impedit veritatis consequatur minima eligendi iusto exercitationem beatae voluptatibus
    laboriosam! Tempora possimus quaerat, labore itaque pariatur cumque voluptatibus excepturi tenetur dicta architecto
    iure at voluptatum, quas soluta esse quae aliquid autem suscipit temporibus perferendis explicabo enim. Et nihil
    animi eos dolores, aliquid distinctio ratione consequuntur perspiciatis possimus esse eum consectetur perferendis
    obcaecati. Modi maxime animi quae temporibus tenetur est accusamus pariatur eveniet non, ea voluptate, autem illo
    enim eius quos. Accusantium, eos! Quam porro reprehenderit obcaecati cupiditate, ex nam voluptas sit aut accusantium
    officiis quis facilis repellendus optio suscipit mollitia consequuntur quod, reiciendis eius, delectus nesciunt iste
    corrupti. Eligendi sed minus eum illo vitae ipsum ducimus necessitatibus eos odit cumque, error eius optio debitis
    praesentium inventore porro quos. Doloremque eos, porro autem quas nostrum repellendus distinctio labore nihil
    totam. Placeat, unde quis? Sequi esse accusamus quam totam ad dolorum aliquam sit enim explicabo, magnam laborum
    quod praesentium. Voluptatem dolores nam modi, nulla unde corrupti nemo suscipit nihil ipsa temporibus a sapiente
    maiores! Laudantium, eum. Eius corrupti, dolore saepe illo magni commodi reiciendis quasi laborum nobis, quod
    voluptatum laudantium reprehenderit qui sunt fuga dolorem ducimus tempora ex aspernatur. Delectus suscipit
    laudantium, debitis magnam illo blanditiis, praesentium ipsa expedita odit facilis vel at culpa iure aperiam. Ea
    nemo soluta sunt dignissimos odio? Tempora sed eligendi nemo architecto illum ipsa quibusdam dolor veritatis quis
    laborum hic ut eius, cum odit repellat maiores minima dolorum culpa deleniti! Repellat reprehenderit porro aut
    ullam.</p>

</body>

</html>