<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Css Id selector</title>
  <style>
    #h1{
      color: black;
      text-align: center;
    }
    #p1{
      background-color: rgb(199, 95, 95,);
      color: rgb(5, 5, 5);
      border: 3px solid rgb(16, 15, 15);
    text-align: center;
    }

    #h2{
      color: blue;
text-align: center;
    }
    #p2{
      text-align:center ;
      background-color: blueviolet;
      color: rgb(14, 14, 13);
      border: 3px solid black;
    }
  </style>
</head>
<body style="background-color: rgb(131, 131, 63);">
  <h1 id="h1">The CSS id Selector</h1>
  <p id="p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi aliquid nemo dignissimos cum vero sit quis
    nostrum,
    placeat ratione numquam. Fugit doloribus ex vero corrupti quia nobis soluta aspernatur. Esse illum exercitationem
    quis neque, molestiae suscipit sapiente doloribus veniam sunt dolorum ullam, laborum officia, eligendi voluptas
    harum aliquam! Inventore fugiat et cum nemo a quam quibusdam iste rem. Ut ratione omnis molestias nesciunt.
    Recusandae consectetur, doloribus hic impedit optio modi architecto, rem odio laborum a explicabo. Dolore pariatur
    aut, incidunt amet rem hic nesciunt, laudantium quia nemo, suscipit vel ducimus dolorum fugiat impedit? Natus
    recusandae maiores quidem, ipsam facere, et enim autem reiciendis eius neque, ducimus error. Distinctio expedita
    officiis in. Sed mollitia temporibus neque labore asperiores soluta eligendi nemo at odit assumenda? Debitis
    explicabo dolore dignissimos eius quos veritatis fuga nulla officia ratione omnis tenetur commodi quidem culpa
    maxime, expedita quasi vitae ipsum, doloremque impedit! Non, veritatis. Praesentium, voluptate officiis et fuga ea
    nostrum deserunt iste maxime repellendus assumenda quaerat ducimus est, alias necessitatibus eos delectus, libero
    nobis veniam sunt repudiandae magni! Similique dolorum asperiores recusandae voluptates porro iure consequatur
    praesentium veniam dicta fugiat animi deleniti magnam exercitationem officia suscipit, corporis enim, nesciunt
    repellat necessitatibus totam! Incidunt, exercitationem. Dignissimos et inventore itaque molestias, aliquam quisquam
    alias eum nesciunt eligendi ducimus sint at repudiandae quis animi numquam eaque iure earum mollitia eveniet modi
    rerum odio repellat? Quaerat natus quisquam voluptatem fugiat, dignissimos obcaecati, culpa corrupti facere rerum
    aspernatur velit numquam distinctio excepturi sunt ipsa sapiente, quo dolor totam magnam facilis ipsum hic
    necessitatibus autem ea. Libero obcaecati animi cum numquam. Illum sequi ut aliquid exercitationem commodi accusamus
    atque, voluptatem esse iste! Sunt ipsum, magni recusandae porro explicabo nisi earum cumque numquam illo id ex
    doloremque! Ad veniam recusandae alias eius perspiciatis sit asperiores nobis culpa? Nam dolores corrupti voluptatum
    quaerat, totam, consectetur, maxime quasi magnam dolore quae voluptatibus explicabo vitae excepturi neque. A eos
    ipsa enim aliquid beatae natus vitae reiciendis consectetur perferendis, distinctio soluta dolorum consequuntur id
    mollitia veritatis quisquam, ab quibusdam illo. Odit, temporibus nihil? Cumque, amet? Quasi, doloremque! Labore
    adipisci nobis voluptatum fugiat maxime? Esse eius illo commodi quasi tempore, modi cum veritatis omnis sit
    exercitationem iste incidunt veniam mollitia quae culpa accusantium rem quaerat temporibus quia voluptates ad
    laborum. Aliquam repudiandae, at vitae consequuntur voluptatem delectus, provident quod ea, aspernatur ullam error
    dolor! Sequi qui doloremque deserunt delectus a? Dolore molestiae veniam voluptates laboriosam quam dicta aperiam
    reprehenderit voluptatem alias expedita, maiores fugit soluta corporis omnis iure? Voluptates, unde explicabo!
    Consectetur neque facere alias earum quam ipsa voluptatibus consequatur dolorum sequi reprehenderit obcaecati natus
    sint expedita omnis cum adipisci quisquam, officiis, minima asperiores? Facilis eaque quis modi nesciunt eos
    asperiores excepturi rem delectus odio animi dolorum repellat numquam vitae quia expedita maxime iure, fuga cumque
    odit iusto! Nesciunt facere cupiditate facilis vel, officia numquam illo at. Expedita alias ducimus aperiam
    molestiae tempora, animi dolorem nemo odit quos a ea quis beatae nihil quam laudantium blanditiis necessitatibus,
    quia in error. Facere soluta consectetur quisquam, sint, et rem nihil quibusdam laboriosam qui facilis tempora iusto
    ipsa vel tenetur recusandae tempore accusantium, incidunt est. Placeat quidem delectus labore nam fugiat odit
    architecto autem a nostrum aliquam maiores itaque ipsam minima natus dolorem facere, laudantium ex nulla id sapiente
    quod quam ullam omnis iusto. Eveniet nisi pariatur et qui alias, blanditiis exercitationem suscipit nulla sunt ea
    labore est optio tempore magni praesentium totam voluptates explicabo, possimus, saepe neque dignissimos maxime
    ipsam similique sapiente. Voluptatem officiis repellat ex et, exercitationem magnam assumenda in natus vero quas
    deleniti suscipit cumque molestiae voluptatibus tenetur voluptates, sed earum harum optio libero voluptas sunt iusto
    sint corporis. Nisi natus saepe est, expedita quis rem placeat. Tenetur debitis voluptates esse quisquam, maiores
    saepe consequatur corrupti, provident dolorem ex impedit neque nobis odio non officia? Autem asperiores fuga
    voluptatibus maxime rem laboriosam voluptate sapiente provident unde totam. Blanditiis ipsa incidunt corporis vero
    quas voluptate nemo adipisci, voluptates omnis sint, corrupti distinctio necessitatibus, quod neque? Maxime placeat
    obcaecati tempore dolor, odio est officia. Laudantium quaerat aliquid quod placeat quas facilis, pariatur reiciendis
    libero iste magni, beatae deserunt consequatur asperiores vero facere quae, ex quia exercitationem quo eveniet
    quidem dignissimos. Aliquam recusandae, totam officiis vero atque placeat tempora, voluptatum nisi nesciunt quisquam
    facilis dolorem. Molestias quod quia illo ratione incidunt magni placeat, aspernatur sequi cum corporis eum
    inventore dolores dolorum dignissimos aliquid consequatur earum ipsum modi! Quis, quia quae! Quo non dignissimos
    voluptatibus doloribus beatae quas libero facere dicta qui aperiam ipsam, omnis modi tenetur asperiores, saepe amet.
    Esse adipisci, quibusdam, vel, beatae saepe eum modi dolorem enim dolore consequatur cupiditate distinctio at
    aliquam deserunt nam? Minima, nostrum iste quasi itaque at cum numquam praesentium labore ratione incidunt nihil
    saepe adipisci tempore rem! Tempora, libero obcaecati quo labore distinctio ducimus accusantium adipisci fuga sequi
    nisi, alias nostrum cupiditate asperiores?</p>
  <br>
  <hr>
  <h2 id="h2">The Css id selector</h2>
  <p id="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat accusamus velit blanditiis animi! Quia id
    ducimus asperiores, facilis reprehenderit veritatis inventore a alias odit ex est esse non et quasi voluptates
    reiciendis aspernatur, voluptate ad. Veniam facere, harum optio eaque minima, voluptate necessitatibus quia hic
    ipsam qui totam aperiam. Ex, harum tenetur et, beatae magni a optio amet iusto laudantium eligendi quas aut, totam
    error illum. Voluptatibus nam vel repellendus dolorem amet facilis! Nam sunt quaerat et adipisci corporis odio ullam
    numquam voluptas minus consequatur explicabo sit omnis accusamus aliquam vero porro, aperiam praesentium est unde
    repudiandae vitae enim? Aut necessitatibus nisi, veritatis architecto sapiente assumenda unde. Fugit quasi quis
    nihil, inventore iure voluptate placeat ad, est illum eligendi, minima porro laboriosam id unde beatae hic
    distinctio nisi saepe neque quaerat eveniet dolorum ea deserunt quam? Dignissimos dolore necessitatibus magni quis
    blanditiis, aperiam quo fugit dolor. Beatae provident officia, odio ut adipisci ex amet a culpa commodi soluta
    officiis nemo in quo quidem, aliquam sit assumenda error! Eaque magni ratione earum cupiditate qui. Distinctio ullam
    fugit repellat alias neque doloremque vel asperiores in ipsa ea illo, ducimus ut quam assumenda eos accusantium
    aperiam nisi soluta et nemo consequuntur doloribus sequi repudiandae dicta! Explicabo temporibus sint illo
    distinctio sunt facilis ipsam doloribus ut, sed nobis dolores eaque tempore nemo, tempora vel nam deserunt. Maiores
    quae porro mollitia, architecto cumque in doloremque rerum culpa obcaecati rem unde sed maxime, repellendus id quis
    nihil. Suscipit et in non deserunt, facilis sequi reprehenderit recusandae maxime nostrum reiciendis pariatur
    commodi consectetur voluptatibus amet fuga accusamus debitis, explicabo optio doloremque necessitatibus? Aliquam
    temporibus pariatur voluptatibus facere quibusdam debitis assumenda animi? Dolorem illum, animi eius est fugiat
    maiores tenetur esse harum illo saepe quod velit tempora dolores explicabo asperiores laudantium rerum perferendis
    necessitatibus itaque quasi vitae delectus dolorum et facere? In inventore ullam laudantium esse doloremque omnis
    soluta. Inventore veritatis nulla voluptatem aut fugiat ex odio fugit porro quos reprehenderit eaque sequi
    necessitatibus tempore et id consequuntur quisquam libero quibusdam quaerat magni eligendi similique illo, explicabo
    iusto. Explicabo culpa fugiat beatae? Vero delectus veniam nihil eum cum expedita nobis doloribus beatae nisi
    aliquam numquam ipsum non impedit possimus, atque, quisquam, maiores sed natus? Quia repellendus amet sunt quibusdam
    iste natus saepe dolorem, atque numquam doloremque eum aspernatur ipsum cumque exercitationem expedita soluta qui
    tempora dolore sequi officiis animi nobis? Aliquid ex aspernatur temporibus suscipit ipsa eveniet qui illum eaque
    alias soluta odit inventore deserunt quo, similique, tempora asperiores tenetur expedita magni, molestiae deleniti
    animi placeat veritatis! Natus reiciendis facere nostrum error suscipit tenetur incidunt necessitatibus voluptates!
    Enim, magnam officiis et soluta similique rerum sit tempora? Minima distinctio iusto ut voluptate aspernatur cumque
    odit voluptatibus eius. Earum ab quod possimus a blanditiis accusantium tempora, molestias sit, molestiae aliquid
    corporis autem! Molestiae, ex cum. Aperiam id eaque nihil cumque, expedita optio ea qui itaque ab quibusdam laborum
    ad natus magnam excepturi dignissimos amet? Nesciunt fuga delectus recusandae, nam blanditiis quaerat dignissimos!
    Saepe qui voluptate corporis totam obcaecati officia tenetur?</p>

</body>

</html>