<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>text color</title>
</head>

<body>
  <h3 style="color: tomato;">Hello! world</h3>
  <p style="color: dodgerblue;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum aliquam quis obcaecati earum consequatur nostrum
    itaque reprehenderit fuga atque. Magnam, aliquid! Blanditiis dolores impedit itaque aperiam fugiat! Laudantium,
    maiores eum. Ipsam facilis libero illum nihil et delectus debitis! Aut quidem reiciendis atque, perferendis eos
    harum sint odit voluptas facere iusto, rerum quod quis modi quia necessitatibus neque. Optio eum soluta, hic nisi
    nulla corporis tenetur pariatur vitae nihil sapiente doloribus quibusdam, repellendus nesciunt ad modi voluptatem
    qui! Voluptates numquam sapiente officiis eligendi at excepturi iste dolore obcaecati deserunt veritatis aliquam
    nulla natus, similique eveniet harum atque iusto! Nulla possimus similique facilis vero obcaecati. Facere, dolorum
    quisquam quaerat nobis odio quia hic dolore corrupti ullam. Fugiat maiores ab totam porro quasi voluptas hic vitae,
    quod inventore illo eveniet veritatis dolor illum neque dolores rerum voluptatem unde, sed nam. Omnis qui reiciendis
    nam praesentium saepe quasi rerum facilis beatae ut, tempore expedita ea molestiae officia dolore error! Quisquam
    culpa asperiores fuga quia maiores neque sequi ut quos accusamus modi dignissimos atque, qui laboriosam facilis
    eligendi quasi inventore? Exercitationem repellat recusandae ipsa at molestias vel doloribus magnam tempora saepe
    aperiam ducimus tenetur, soluta sed? Perferendis veritatis, error animi esse dignissimos laborum veniam rem!</p>
    <p style="color: mediumaquamarine;">hello there!what's up?</p>
</body>
<br><hr>
<body>
  <h1 style="border: 2px solid blue;">hello world!</h1>
  <h2 style="border: 2px solid brown;">Hello World!</h2>
  <h3 style="border: 2px solid black;"> hello there!</h3>
</body>

</html>