<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>background-color</title>
  <style>
    h1 {
      background-color: blue;
      text-align: center;
    }

    div {
      background-color: bisque;
      text-align: center;
    }

    p {
      background-color: aqua;
      text-align: center;
      opacity: 0.6;
    }

    .d1 {
      background-image: url("paper.gif")
    }
    .p1{
      background-image: url("desert.jpg");
    }
  </style>
</head>

<body>
  <h1>CSS background-color example!</h1>
  <div>
    this is a text inside a div element.
    <p>
      This is a paragraph has its own background color
    </p>
    we are still in the div element
  </div>
  <div class="d1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem perferendis ratione maiores eligendi vitae quasi
    aspernatur totam! Perspiciatis vel eum officia, recusandae amet officiis doloribus autem reiciendis culpa
    exercitationem architecto libero nihil laboriosam expedita harum aliquid cupiditate eaque suscipit fugit!
        </p>
  </div>
  <br>
  <hr></body>
  <body>
  <div class="d2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, quo. Nostrum ad praesentium labore
    optio odit neque eius consequatur asperiores impedit. Unde exercitationem illum consectetur saepe ipsa, eius eveniet
    consequatur quo eum similique fugit iusto sed deleniti quia nobis odit fuga fugiat praesentium officiis, rerum ipsam
    magnam blanditiis nam. Nostrum.<p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, nemo sunt exercitationem voluptates omnis
      perspiciatis est dolor earum autem doloribus minus cumque libero ipsum neque numquam dolorem enim quaerat iste.
</div>
</body>

</html>