<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>class selector</title>
  <style>
    .h1 {
      text-align: center;
      color: red;
    }

    .p1 {
      text-align: center;
      color: blue;
    }
    p.large{
      font-size: 200%;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1 class="h1">The CSS class selector</h1>
  <p class="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit perspiciatis quos harum ipsum. Ratione
    placeat laudantium debitis corporis eaque aspernatur itaque ut fugiat quae, sapiente alias, ullam assumenda
    voluptatem mollitia ex consectetur velit earum delectus maxime, omnis officiis. Perspiciatis ad quasi porro vitae
    voluptates similique optio impedit veniam illo, sapiente ducimus tempore temporibus recusandae voluptas ut, quisquam
    tempora facilis eum magnam. At magnam eum eaque asperiores quidem culpa laudantium velit in, numquam obcaecati
    repudiandae! Sunt modi veniam natus illo libero ex nihil? Eum veniam, magni qui et labore, illo omnis veritatis
    minus quia consequuntur, beatae autem. Dolores amet unde minima explicabo reiciendis minus accusantium illum nostrum
    debitis. Delectus debitis quaerat nulla eum. A beatae itaque commodi sit voluptatem dolor? Velit optio mollitia
    commodi id ab obcaecati quod, nisi blanditiis nihil amet voluptate aspernatur reiciendis fugiat. Facere enim quae
    eius id repudiandae, exercitationem eligendi, modi animi eveniet amet provident porro cum. Ullam eius incidunt
    explicabo perspiciatis distinctio officia porro cumque ipsam praesentium consectetur repellendus, quam tempora nobis
    sit molestiae quae. Quae autem illo enim? Iusto, temporibus perspiciatis voluptatem, totam veritatis magni odio
    doloremque ducimus delectus deleniti natus. Et nostrum magnam provident ratione assumenda officiis, excepturi
    consequatur sint delectus voluptatibus blanditiis aspernatur quis dignissimos velit expedita labore qui amet
    doloribus! Consequuntur nobis tenetur excepturi sunt quo debitis necessitatibus consectetur similique quidem! Minus
    deserunt adipisci maiores nam doloribus sunt nesciunt excepturi eveniet est, quibusdam in voluptatem nisi! Earum
    exercitationem nam soluta natus fugiat aut explicabo a sint doloremque non! Autem fuga alias soluta, accusamus
    eveniet voluptatum. Error illum quas vel quis possimus saepe suscipit ipsa, consectetur, odit numquam sed laborum.
    Rem sed quae provident! Consequuntur maxime reiciendis alias ratione provident corrupti ducimus vero voluptas ut
    quod quisquam cupiditate tenetur totam, neque nam excepturi impedit beatae sequi! Quis nesciunt omnis sit ullam
    voluptatem vitae deserunt accusantium beatae iste? Animi libero in sit, eum corporis quis at blanditiis reiciendis
    recusandae sapiente rem possimus? Illo impedit id accusamus explicabo praesentium laborum veritatis? Distinctio
    officiis sunt accusantium aut dolore. In, est perspiciatis nam nostrum suscipit non quam maiores modi voluptate
    reiciendis repellendus cum nemo vitae? Vel esse tenetur odio ipsam! Quas dignissimos maxime sapiente quo quidem sit
    fugit. Accusamus minima delectus tenetur eligendi. Culpa at harum quod ducimus laboriosam odit numquam earum.
    Repellat exercitationem voluptatem deserunt a hic enim ex deleniti quidem quo quis cum debitis velit doloremque
    ipsam inventore, quam totam ad nulla, placeat fugiat est!</p>
  <p class="large">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, et.</p>
</body>

</html>