<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>color</title>
</head>

<body>
  <h1 style="background-color: dodgerblue;">Hello World!</h1>
  <p style="background-color: tomato;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quibusdam eaque, itaque quas possimus magnam sunt
    earum placeat quod aut molestiae molestias quisquam ipsam omnis asperiores rem accusantium autem, voluptates vero
    voluptatum illum tempora voluptas! Ut ducimus libero voluptatibus quas, nisi inventore molestiae unde culpa? Fuga
    quasi eum temporibus quidem quas, assumenda modi accusantium quaerat possimus voluptatum! Dicta quam, itaque
    architecto incidunt odio est sint deserunt totam! Magni possimus distinctio natus libero laudantium, dignissimos
    quos illum vitae, vel modi laboriosam quaerat magnam illo cum, nam facere consectetur expedita nisi? Est tenetur
    necessitatibus adipisci a molestiae tempora expedita ea iste possimus vitae qui vero ducimus, sequi amet molestias,
    beatae eveniet vel distinctio, facere voluptas! Eaque, est quod amet facilis dolores, neque maiores in quasi quaerat
    laboriosam corrupti dignissimos esse, voluptate iste omnis ullam. Debitis voluptates rerum cumque corporis facilis
    officia numquam voluptate, quod veniam possimus autem. Officia in necessitatibus ratione consectetur, dignissimos
    officiis architecto repellat blanditiis praesentium numquam dolores quae harum vel, recusandae maiores nam iste
    suscipit? Officiis veniam eaque ullam, laboriosam delectus optio fuga velit reprehenderit. Ea consequatur ratione
    assumenda sunt vitae explicabo voluptas sit quae cum, exercitationem laboriosam accusamus soluta mollitia et aliquam
    deserunt, eius, fugit officiis perspiciatis fugiat!

  </p>
</body>

</html>