 .container{
    text-align: center;
    padding: 2%;
}
body{
    background-color: black;
} 
.header{
    margin:0;
}
#about{
    padding: 20px 0;
    height:33vh;
}
.section-title {
    font-size: 2.5rem;
    color: #17a2b8;
    margin-bottom: 20px;
    margin-left: -300px;
}
.section-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    width: 400px;
}
div.profile-image-container {
    overflow: hidden;
    /* border-radius: 10%; */
    margin: auto;
    width: 43%;
    height: 50vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(248, 245, 245);
    margin-left: 80%;
    margin-top: 50px;
   }
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.heading{
    color: white;
    margin-left: -50%;
    margin-top: -300px;
} 

/*button{
    width: 18%;
    height: 7vh;
    background-color: white;
    color: black;
    font-size: 20px;
    border:none;
    border-radius: 15px;
    margin-left: -50%;
}
button:hover{
    border: none;
    border-radius: 15px;
    color: white;
    background-color:green;
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.resume-download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    /* border-radius: 5px; */
    /* transition: background-color 0.3s; */
/* } */

/*.resume-download-btn:hover {
    background-color: #0056b3;
} */



