body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #08033c;
  }
  
  .container {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: #21bfc5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(214, 48, 255);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: #5a67d8;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #434fa2;
  }
  
  #qrcode {
    margin-top: 20px;
  }
  