body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}
.container{
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
  height: auto;
  width: 500px;
  box-shadow: 4px 5px 6px white;
  border: 1px solid white;
}
.header{
  text-align: center;
  padding: 10px;
  font-size: 50px;
  font-weight: 900;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}
.addtask{
  display: flex;
  justify-content: space-evenly;
}
input{
  padding: 7px;
  border-radius: 5px;
}
button:hover{
  border: 1px solid white;
  box-shadow: 2px 2px 2px white;
}
button{
  background-color: whitesmoke;
  color: black;
  padding: 4px;
  border-radius: 5px;
}
ul{
  list-style: none;
  padding: 15px;

}
li{
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 7px;
  color: white;
}